<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node-auth-fastify</title>
    <style>
      html,
      body {
        font-family: sans-serif;
        background-color: #111;
        color: #eee;
        padding: 1rem;
      }

      pre {
        width: 100vw;
        white-space: break-spaces;
        word-break: break-word;
      }

      input,
      button {
        padding: 0.2rem;
      }

      hr {
        margin: 3rem 0;
      }

      button {
        width: 5rem;
      }
    </style>
  </head>

  <body>
    <h1>👋 Welcome</h1>
    <h3>Register</h3>
    <form id="register-form" action="/api/v1/accounts/register" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email Address"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
      />
      <button type="submit">Register</button>
    </form>

    <h3>Sign In</h3>
    <form id="login-form" action="https://api.nodeauth.dev/api/v1/accounts/login" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email Address"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
      />
      <button type="submit">Sign In</button>
    </form>

    <h3>Sign Out</h3>
    <form id="logout-form" action="https://api.nodeauth.dev/api/v1/accounts/logout" method="POST">
      <button type="submit">Sign Out</button>
    </form>

    <hr />

    <h3 id="response-header"></h3>
    <pre id="response-body"></pre>

    <script type="application/javascript">
      async function handleSubmit(event) {
        event.preventDefault();
        const data = new FormData(event.target);

        try {
          const res = await fetch(event.target.action, {
            method: event.target.method,
            headers: {
              'Content-Type': 'application/json',
            },
            credentials: 'include',
            body: JSON.stringify({
              email: data.get('email'),
              password: data.get('password'),
            }),
          });

          const body = await res.json();

          document.querySelector('#response-header').textContent = 'Response:';
          document.querySelector('#response-body').textContent =
            JSON.stringify(body);
        } catch (err) {
          console.error(err.message);
        }
      }

      const registerForm = document.querySelector('#register-form');
      const loginForm = document.querySelector('#login-form');
      const logoutForm = document.querySelector('#logout-form');

      registerForm.addEventListener('submit', handleSubmit);
      loginForm.addEventListener('submit', handleSubmit);
      logoutForm.addEventListener('submit', handleSubmit);
    </script>
  </body>
</html>
