html,
body {
  font-family: sans-serif;
  background-color: #0d1117;
  color: #eee;
  padding: 1rem;
}

form {
  margin: 1rem 0 2rem;
}

pre {
  font-size: 1.1rem;
  white-space: break-spaces;
  word-break: break-word;
}

input,
button {
  padding: 0.3rem 0.5rem;
}

hr {
  margin: 3rem 0;
  border-color: #333;
}

button {
  min-width: 5rem;
}

.alert {
  padding: 1rem;
  border-radius: 5px;
}

.alert-success {
  background: linear-gradient(#00aa00, #007700);
}

.alert-error {
  background: linear-gradient(#aa0000, #770000);
}
